name: Code Quality

on:
  pull_request:
    branches: [main]

jobs:
  quality-checks:
    name: Quality Checks
    runs-on: ubuntu-latest

    env:
      PRETALX_TOKEN: ${{ secrets.PRETALX_TOKEN }}
      VITE_API_KEY: ${{ secrets.VITE_API_KEY }}
      VITE_COMMUNITY_SHEET_NAME: ${{ secrets.VITE_COMMUNITY_SHEET_NAME }}
      VITE_PRETALX_API_TOKEN: ${{ secrets.VITE_PRETALX_API_TOKEN }}
      VITE_SHEET_ID: ${{ secrets.VITE_SHEET_ID }}
      VITE_SPONSOR_LEVELS_SHEET_NAME: ${{ secrets.VITE_SPONSOR_LEVELS_SHEET_NAME }}
      VITE_SPONSOR_NEWS_SHEET_NAME: ${{ secrets.VITE_SPONSOR_NEWS_SHEET_NAME }}
      VITE_SPONSOR_SHEET_NAME: ${{ secrets.VITE_SPONSOR_SHEET_NAME }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: package.json
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run ESLint
        run: pnpm lint

      - name: Check types
        run: pnpm type-check

      - name: Build with VitePress
        run: pnpm build
